<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Hanifah Annisa Putri</title>
  </head>
  <body style="background-color: black;">

      <h1 style="padding: 21px; font-size: larger; padding-bottom: 0%;">Hanifah Annisa Putri</h1>
        <h2 style="font-size: small; padding: 23px; padding-top: 0%; padding-bottom: 0%">I wanted to be your tomorrow, so I lived today.</h2>
        <hr>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="padding-top: 0px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'home:home' %}">home</a>
            <a class="nav-item nav-link" href="{% url 'home:about' %}">about <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'home:contact' %}">contact</a>
            <a class="nav-item nav-link" href="{% url 'home:portfolio' %}">portfolio</a>
            <a class="nav-item nav-link" href="{% url 'home:friendlist' %}">friendlist</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  socials
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: black;">
                  <a class="dropdown-item" href="http://instagram.com/hanifahanns">instagram</a>
                  <a class="dropdown-item" href="mailto:hanifahaputri@gmail.com?subject=Hello">gmail</a>
                </div>
              </li>
        </div>
      </nav>
    </body>

    {%block content%}{% endblock %}

    <p style="text-align: center;">Copyright Hanifah Annisa Putri 2020.</p>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'home/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/popper.js' %}"></script>
    <script type="text/javascript" src="{%static 'home/js/bootstrap.min.js' %}"></script>
  </body>
</html>