{% extends "home/base.html"%}
{% load static %}
{% block content %}

    <div id="box" style="padding: 2%; padding-top: 2%;">
        <div id="boxlagi">
    <h2 style="text-align: center; color: #CCB096 !important;">contact</h2>
    <div class="container; text:center" style="position:relative">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="text-align:center">
            <h3 style="font-size: medium; padding: 0.5%;">First Name<br>{{ form.firstname }}</h3>
            <h3 style="font-size: medium; padding: 0.5%;">Last Name<br>{{ form.lastname }}</h3>
            <h3 style="font-size: medium; padding: 0px">Year Of<br>{{ form.theyear }}</h3>
            <h3 style="font-size: medium; padding: 0px;">Hobby<br>{{ form.hobby }}</h3>
            <h3 style="font-size: medium; padding: 0px;">Food and Beverage<br>{{ form.fnb }}</h3>
          </div>
          <!-- <label for="fname">First Name</label><br>
          <input type="text" id="fname" name="firstname" placeholder=" John" style="color: #E7D6C6;"><br>
      
          <label for="lname">Last Name</label><br>
          <input type="text" id="lname" name="lastname" placeholder=" Doe" style="color: #E7D6C6;"><br>
          
          <label for="lname">Email</label><br>
          <input type="text" id="email" name="email" placeholder=" john.doe@mail.com" style="color: #E7D6C6;"><br>
      
          <label for="subject">Message</label><br>
          <textarea id="subject" name="subject" placeholder=" Your message here..." style="height:100px; color: #E7D6C6;"></textarea><br>
       -->
          <input type="submit" value="Save">
      
        </form>
        <br>
        <a href="{% url 'home:friendlist' %}" style="color: beige; font-style: italic;">Friendlist</a>
        </div>
      </div>
      </div>
      <br>
      <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>

{% endblock %}