{% extends "home/base.html"%}
{% load static %}
{% block content %}
      <div id="box">
          <div id="boxlagi">
            <h1 style="font-weight: 100; font-size:200%; text-align: left; padding-left: 1.5%;">about</h1>
            <hr>
            <h3 style="font-size:medium; line-height: 185%; padding: 1.5%; text-align: left;">Hello! My name is Hanifah Annisa Putri, I am an eighteen years old Computer Science student at University of Indonesia class of 2019. I have an interest towards illustrating, design, and things related to creating, which often makes me involved in events as a comittee in the departments related to design. I also have an interest on creating merchandise or souvenirs which I sometimes make to add some money on my allowance.</h3>
            </div>
      </div>
      <p></p>
      <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>

{% endblock %}