{% extends "home/base.html"%}
{% load static %}
{% block content %}

    <h1 style="background-color: transparent; text-align: center; font-size: xx-large;">portfolio</h2><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
        <a href="https://pbs.twimg.com/media/EQdr_FRUcAAIrbk?format=jpg&name=4096x4096" target="_blank">
            <img src="https://pbs.twimg.com/media/EQdr_FRUcAAIrbk?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
            <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
        <div class="col-md-4">
        <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
            <a href="https://pbs.twimg.com/media/EQdr_FdUwAAFjKI?format=jpg&name=4096x4096" target="_blank">
            <img src="https://pbs.twimg.com/media/EQdr_FdUwAAFjKI?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
            <a href="https://pbs.twimg.com/media/EQdueobUwAEDg7K?format=jpg&name=4096x4096" target="_blank">
                <img src="https://pbs.twimg.com/media/EQdueobUwAEDg7K?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
                <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
            <a href="https://pbs.twimg.com/media/EQdueoNU8AArnN8?format=jpg&name=4096x4096" target="_blank">
                <img src="https://pbs.twimg.com/media/EQdueoNU8AArnN8?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
                <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
            <a href="https://pbs.twimg.com/media/EQdueoAUUAABRmP?format=jpg&name=4096x4096" target="_blank">
                <img src="https://pbs.twimg.com/media/EQdueoAUUAABRmP?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
                <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: transparent; border-color: #E7D6C6;">
            <a href="https://pbs.twimg.com/media/EQdsGKLU8AUjWMm?format=jpg&name=4096x4096" target="_blank">
                <img src="https://pbs.twimg.com/media/EQdsGKLU8AUjWMm?format=jpg&name=4096x4096" alt="Nature" style="width:100%;">
                <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        </div>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          More...
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: larger;">You have reached the end!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                You have reached the end of the portfolio page. Please anticipate for more works by me. Thank you for your attention, have a great day!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="center">
          <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>
        </div>


{% endblock %}