{% extends "home/base.html"%}
{% load static %}
{% block content %}


      <div id="box">
          <div id="boxlagi">
            <h1 style="font-weight: 100; font-size:700%; text-align: center; padding-top:1%">welcome</h1>
            <h1 style="font-size:larger; line-height: 0%; padding-bottom: 1%; text-align: center;">have a wonderful stay.</h1>
            <br>
            <a href="{% url 'home:about' %}" class="btn btn-primary active" role="button" aria-pressed="true">explore</a>
          </div>
      </div>
      <p></p>
      <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>



      {% endblock %}