{% extends "home/base.html"%}
{% load static %}
{% block content %}


      <div id="box">
          <div id="boxlagi">
            <h1 style="font-weight: 100; font-size:500%; text-align: center; padding-top:1%">thank you</h1>
            <hr>
            <p>thank you for filling out the form.</p>
            </div>
      </div>
      <p></p>
      <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>



      {% endblock %}