{% extends "home/base.html"%}
{% load static %}
{% block content %}

      <div id="box">
          <div id="boxlagi">
            <h1 style="font-weight: 100; font-size:200%; text-align: left; padding-left: 1.5%;">friend list</h1>
            <h3 style="font-size:medium; line-height: 0%; padding-left: 1.5%; text-align: left;">Here's a list of my friends</h3>
            <hr>
            <div align="center" style="text-align:center">
            <table style="border-color: #CCB096; text-align: center;" border="5%" width="100%">
                  <tr style="text-align: center;">
                        <th style="text-align: center;">First Name</th>
                        <th style="text-align: center;">Last Name</th>
                        <th style="text-align: center;">Year Of</th>
                        <th style="text-align: center;">Hobby</th>
                        <th style="text-align: center;">Food and Beverage</th>
                  </tr>
                  {% for form in friendlist %}
                  <tr>
                        <td>{{form.firstname}}</td>
                        <td>{{form.lastname}}</td>
                        <td>{{form.theyear}}</td>
                        <td>{{form.hobby}}</td>
                        <td>{{form.fnb}}</td>
                  </tr>
                  {% endfor %}
            </table>
            <br>
            <a href="{% url 'home:contact' %}" class="btn btn-primary active" role="button" aria-pressed="true">become my friend</a>       
      </div>
      </div>   
      </div>
      <p></p>
      <a href="http://www.instagram.com/hanifahanns"><img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="ig logo" width="48" height="36" class="center"></a>

{% endblock %}