
h1 {
    color: #CCB096 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic !important;
    background-color: black;
}
h2 {
    color: #E7D6C6 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic !important;
    background-color: black;
}

p {
    color: #E7D6C6 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic !important;
}
h3 {
    color: #E7D6C6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 1%;

}

h4 {
    color: #CCB096;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
}

nav a {
    color: #E7D6C6 !important;
    font-size: small;
    padding-top: 0% !important;
    background-color: black;
}

hr {
    border-color: #CCB096 !important;
    align-items: center;
    width: 97%;
    opacity: 0.5;
}

#box {
    color: #CCB096;
    background-image: url('https://i.pinimg.com/originals/8e/d6/ea/8ed6ea960aac70f922ca702502ebfe8c.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: center;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boxlagi {
    background-color: black;
    text-align: center;
    width: 90%;
    padding: 2.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn.btn-primary,
  .btn.btn-primary:focus,
  .btn.btn-primary:active,
  .btn.btn-primary.active {
    background-color: #25211E !important;
    color: #E7D6C6 !important;
    border-color: #E7D6C6 !important;
    padding: 0.75%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic;

}

.btn.btn-primary:hover {
    background-color: #CCB096 !important;
    color: #25211E !important;
    border-color: #25211E !important;
    padding: 0.75%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic;
    transition: all 1s ease-out;

}

input[type=text], select, textarea {
    background-color: #25211E;
    color: #CCB096;
    width: 50%; /* Full width */
    padding: 7px; /* Some padding */ 
    border: 1px solid #CCB096; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: small !important;

}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #25211E;
    color: #CCB096;
    border-color: #CCB096 !important;
    padding: 5px 25px;
    cursor: pointer;
    font-size: small !important;
    
  }

  input[type=submit]:hover {
    background-color: #CCB096;
    color: #25211E;
    border-color: #E7D6C6 !important;
    padding: 5px 25px;
    cursor: pointer;
    font-size: small !important;
    
  }
  
.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #CCB096;

}

label {
    font-size: small !important;
    text-align: center;
}

  a {
    transition: all 1s ease-out;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
  }
  
  a:hover,
  a:focus {
    background-color: rgb(82, 70, 60);
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    padding: none;
  }

.modal { 
   color: #CCB096 !important; 
}

.modal-body,
.modal-header,
.modal-footer
{
    background-color: black;
}
